## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

# Display the first few rows to confirm the columns were dropped
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()

# Display the result
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
value_counts = application_df['APPLICATION_TYPE'].value_counts()

# Define a threshold for replacing with 'Other'
threshold = 1

# Identify types to replace with 'Other'
types_to_replace = value_counts[value_counts < threshold].index

# Replace identified types with 'Other'
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(types_to_replace, 'Other')

# Display the updated value counts to confirm changes
updated_value_counts = application_df['APPLICATION_TYPE'].value_counts()
print(updated_value_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
value_counts = application_df['APPLICATION_TYPE'].value_counts()

# Define a cutoff value
cutoff = 276

# Create a list of application types to be replaced
application_types_to_replace = value_counts[value_counts < cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
updated_value_counts = application_df['APPLICATION_TYPE'].value_counts()
print(updated_value_counts)

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_value_counts = application_df['CLASSIFICATION'].value_counts()

# Define a cutoff value
cutoff = 1

# Identify classifications to be replaced with 'Other'
classifications_to_replace = classification_value_counts[classification_value_counts < cutoff].index.tolist()

# Replace identified classifications with 'Other'
application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(classifications_to_replace, 'Other')

# Verify the replacement by checking the updated value counts
updated_classification_value_counts = application_df['CLASSIFICATION'].value_counts()

# Display the updated value counts
print(updated_classification_value_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_value_counts = application_df['CLASSIFICATION'].value_counts()

# Filter to get classifications with counts greater than 1
classification_counts_gt_1 = classification_value_counts[classification_value_counts > 1]

# Display the filtered value counts
print(classification_counts_gt_1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
value_counts = application_df['CLASSIFICATION'].value_counts()

# Define a cutoff value
cutoff = 1883

# Create a list of classifications to be replaced with "Other"
classifications_to_replace = value_counts[value_counts < cutoff].index.tolist()

# Replace identified classifications with "Other"
application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(classifications_to_replace, 'Other')

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
updated_classification_value_counts = application_df['CLASSIFICATION'].value_counts()

# Display the updated value counts to confirm changes
print(updated_classification_value_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Define the list of categorical columns to convert
categorical_columns = [
    'APPLICATION_TYPE',
    'AFFILIATION',
    'CLASSIFICATION',
    'USE_CASE',
    'ORGANIZATION',
    'STATUS',
    'INCOME_AMT',
    'SPECIAL_CONSIDERATIONS'
]

# Convert categorical data to numeric with pd.get_dummies
application_df_encoded = pd.get_dummies(application_df, columns=categorical_columns)

# Check the first few rows of the transformed DataFrame
print(application_df_encoded.head())

   ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  APPLICATION_TYPE_T10  \
0     5000              1                   False                  True
1   108590              1                   False                 False
2     5000              0                   False                 False
3     6692              1                   False                 False
4   142590              1                   False                 False

   APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  \
0                 False                False                False
1                 False                 True                False
2                 False                False                False
3                 False                 True                False
4                 False                 True                False

   APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  APPLICATION_TYPE_T7  ...  \
0                False                False                False  ...
1                False                False                False  ...
2                 True                False                False  ...
3                False                False                False  ...
4                False                False                False  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0              False                   False                     False
1               True                   False                     False
2              False                   False                     False
3              False                    True                     False
4              False                   False                      True

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0               False             False                   False
1               False             False                   False
2               False             False                   False
3               False             False                   False
4               False             False                   False

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0            False              False                      True
1            False              False                      True
2            False              False                      True
3            False              False                      True
4            False              False                      True

   SPECIAL_CONSIDERATIONS_Y
0                     False
1                     False
2                     False
3                     False
4                     False

[5 rows x 45 columns]

In [10]:
# Perform one-hot encoding
application_df_encoded = pd.get_dummies(application_df,
                                        columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
                                                 'USE_CASE', 'ORGANIZATION', 'STATUS',
                                                 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])

# Split our preprocessed data into our features and target arrays
target_column = 'IS_SUCCESSFUL'
X = application_df_encoded.drop(columns=[target_column])
y = application_df_encoded[target_column]

# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Training features shape:", X_train.shape)
print("Testing features shape:", X_test.shape)
print("Training target shape:", y_train.shape)
print("Testing target shape:", y_test.shape)

Training features shape: (27439, 44)
Testing features shape: (6860, 44)
Training target shape: (27439,)
Testing target shape: (6860,)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Define the model - deep neural net
number_input_features = X_train.shape[1]
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 80)                             3,600

 dense_1 (Dense)                       (None, 30)                             2,430

 dense_2 (Dense)                       (None, 1)                                 31

 Total params: 6,061 (23.68 KB)

 Trainable params: 6,061 (23.68 KB)

 Non-trainable params: 0 (0.00 B)

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
858/858  11s 7ms/step - accuracy: 0.6997 - loss: 0.5919
Epoch 2/100
858/858  3s 4ms/step - accuracy: 0.7342 - loss: 0.5525
Epoch 3/100
858/858  2s 2ms/step - accuracy: 0.7329 - loss: 0.5488
Epoch 4/100
858/858  2s 2ms/step - accuracy: 0.7352 - loss: 0.5477
Epoch 5/100
858/858  3s 3ms/step - accuracy: 0.7249 - loss: 0.5554
Epoch 6/100
858/858  4s 2ms/step - accuracy: 0.7356 - loss: 0.5443
Epoch 7/100
858/858  3s 2ms/step - accuracy: 0.7319 - loss: 0.5441
Epoch 8/100
858/858  2s 2ms/step - accuracy: 0.7348 - loss: 0.5462
Epoch 9/100
858/858  3s 3ms/step - accuracy: 0.7345 - loss: 0.5431
Epoch 10/100
858/858  3s 3ms/step - accuracy: 0.7335 - loss: 0.5407
Epoch 11/100
858/858  2s 2ms/step - accuracy: 0.7351 - loss: 0.5462
Epoch 12/100
858/858  2s 2ms/step - accuracy: 0.7307 - loss: 0.5479
Epoch 13/100
858/858  3s 2ms/step - accuracy: 0.7347 - loss: 0.5470
Epoch 14/100
858/858  2s 2ms/step - accuracy: 0.7320 - loss: 0.5462
Epoch 15/100
858/858  3s 3ms/step - accuracy: 0.7344 - loss: 0.5427
Epoch 16/100
858/858  3s 3ms/step - accuracy: 0.7359 - loss: 0.5423
Epoch 17/100
858/858  4s 2ms/step - accuracy: 0.7354 - loss: 0.5411
Epoch 18/100
858/858  2s 2ms/step - accuracy: 0.7385 - loss: 0.5393
Epoch 19/100
858/858  3s 2ms/step - accuracy: 0.7328 - loss: 0.5448
Epoch 20/100
858/858  3s 3ms/step - accuracy: 0.7390 - loss: 0.5388
Epoch 21/100
858/858  4s 2ms/step - accuracy: 0.7312 - loss: 0.5459
Epoch 22/100
858/858  3s 2ms/step - accuracy: 0.7358 - loss: 0.5397
Epoch 23/100
858/858  2s 2ms/step - accuracy: 0.7363 - loss: 0.5379
Epoch 24/100
858/858  3s 2ms/step - accuracy: 0.7355 - loss: 0.5421
Epoch 25/100
858/858  3s 3ms/step - accuracy: 0.7345 - loss: 0.5433
Epoch 26/100
858/858  2s 2ms/step - accuracy: 0.7396 - loss: 0.5359
Epoch 27/100
858/858  3s 2ms/step - accuracy: 0.7380 - loss: 0.5394
Epoch 28/100
858/858  2s 2ms/step - accuracy: 0.7353 - loss: 0.5390
Epoch 29/100
858/858  3s 2ms/step - accuracy: 0.7342 - loss: 0.5422
Epoch 30/100
858/858  4s 3ms/step - accuracy: 0.7388 - loss: 0.5398
Epoch 31/100
858/858  2s 2ms/step - accuracy: 0.7386 - loss: 0.5407
Epoch 32/100
858/858  2s 2ms/step - accuracy: 0.7418 - loss: 0.5365
Epoch 33/100
858/858  3s 2ms/step - accuracy: 0.7381 - loss: 0.5378
Epoch 34/100
858/858  2s 2ms/step - accuracy: 0.7343 - loss: 0.5411
Epoch 35/100
858/858  2s 3ms/step - accuracy: 0.7373 - loss: 0.5392
Epoch 36/100
858/858  3s 4ms/step - accuracy: 0.7307 - loss: 0.5442
Epoch 37/100
858/858  4s 2ms/step - accuracy: 0.7429 - loss: 0.5341
Epoch 38/100
858/858  3s 2ms/step - accuracy: 0.7370 - loss: 0.5362
Epoch 39/100
858/858  3s 2ms/step - accuracy: 0.7413 - loss: 0.5367
Epoch 40/100
858/858  3s 3ms/step - accuracy: 0.7430 - loss: 0.5321
Epoch 41/100
858/858  4s 2ms/step - accuracy: 0.7331 - loss: 0.5409
Epoch 42/100
858/858  2s 2ms/step - accuracy: 0.7421 - loss: 0.5352
Epoch 43/100
858/858  3s 2ms/step - accuracy: 0.7403 - loss: 0.5361
Epoch 44/100
858/858  3s 3ms/step - accuracy: 0.7381 - loss: 0.5363
Epoch 45/100
858/858  4s 2ms/step - accuracy: 0.7380 - loss: 0.5356
Epoch 46/100
858/858  2s 2ms/step - accuracy: 0.7409 - loss: 0.5349
Epoch 47/100
858/858  3s 2ms/step - accuracy: 0.7368 - loss: 0.5360
Epoch 48/100
858/858  3s 2ms/step - accuracy: 0.7417 - loss: 0.5338
Epoch 49/100
858/858  3s 3ms/step - accuracy: 0.7380 - loss: 0.5387
Epoch 50/100
858/858  2s 2ms/step - accuracy: 0.7419 - loss: 0.5336
Epoch 51/100
858/858  2s 2ms/step - accuracy: 0.7401 - loss: 0.5376
Epoch 52/100
858/858  3s 2ms/step - accuracy: 0.7392 - loss: 0.5386
Epoch 53/100
858/858  3s 2ms/step - accuracy: 0.7392 - loss: 0.5378
Epoch 54/100
858/858  2s 3ms/step - accuracy: 0.7391 - loss: 0.5371
Epoch 55/100
858/858  3s 3ms/step - accuracy: 0.7435 - loss: 0.5310
Epoch 56/100
858/858  2s 2ms/step - accuracy: 0.7438 - loss: 0.5304
Epoch 57/100
858/858  3s 2ms/step - accuracy: 0.7417 - loss: 0.5344
Epoch 58/100
858/858  2s 2ms/step - accuracy: 0.7389 - loss: 0.5375
Epoch 59/100
858/858  2s 2ms/step - accuracy: 0.7396 - loss: 0.5355
Epoch 60/100
858/858  3s 3ms/step - accuracy: 0.7379 - loss: 0.5373
Epoch 61/100
858/858  4s 2ms/step - accuracy: 0.7411 - loss: 0.5342
Epoch 62/100
858/858  2s 2ms/step - accuracy: 0.7404 - loss: 0.5354
Epoch 63/100
858/858  2s 2ms/step - accuracy: 0.7401 - loss: 0.5346
Epoch 64/100
858/858  2s 2ms/step - accuracy: 0.7392 - loss: 0.5367
Epoch 65/100
858/858  4s 4ms/step - accuracy: 0.7387 - loss: 0.5371
Epoch 66/100
858/858  2s 3ms/step - accuracy: 0.7392 - loss: 0.5363
Epoch 67/100
858/858  2s 2ms/step - accuracy: 0.7370 - loss: 0.5387
Epoch 68/100
858/858  2s 2ms/step - accuracy: 0.7421 - loss: 0.5305
Epoch 69/100
858/858  2s 2ms/step - accuracy: 0.7362 - loss: 0.5408
Epoch 70/100
858/858  3s 2ms/step - accuracy: 0.7409 - loss: 0.5358
Epoch 71/100
858/858  3s 4ms/step - accuracy: 0.7447 - loss: 0.5320
Epoch 72/100
858/858  2s 3ms/step - accuracy: 0.7402 - loss: 0.5365
Epoch 73/100
858/858  3s 4ms/step - accuracy: 0.7395 - loss: 0.5366
Epoch 74/100
858/858  4s 2ms/step - accuracy: 0.7394 - loss: 0.5344
Epoch 75/100
858/858  3s 3ms/step - accuracy: 0.7397 - loss: 0.5327
Epoch 76/100
858/858  3s 4ms/step - accuracy: 0.7396 - loss: 0.5378
Epoch 77/100
858/858  2s 2ms/step - accuracy: 0.7409 - loss: 0.5318
Epoch 78/100
858/858  3s 2ms/step - accuracy: 0.7438 - loss: 0.5310
Epoch 79/100
858/858  2s 2ms/step - accuracy: 0.7411 - loss: 0.5322
Epoch 80/100
858/858  2s 2ms/step - accuracy: 0.7392 - loss: 0.5363
Epoch 81/100
858/858  4s 4ms/step - accuracy: 0.7387 - loss: 0.5348
Epoch 82/100
858/858  2s 3ms/step - accuracy: 0.7408 - loss: 0.5326
Epoch 83/100
858/858  2s 2ms/step - accuracy: 0.7447 - loss: 0.5281
Epoch 84/100
858/858  2s 2ms/step - accuracy: 0.7388 - loss: 0.5363
Epoch 85/100
858/858  2s 2ms/step - accuracy: 0.7379 - loss: 0.5364
Epoch 86/100
858/858  3s 3ms/step - accuracy: 0.7415 - loss: 0.5302
Epoch 87/100
858/858  3s 4ms/step - accuracy: 0.7420 - loss: 0.5341
Epoch 88/100
858/858  2s 2ms/step - accuracy: 0.7426 - loss: 0.5295
Epoch 89/100
858/858  3s 2ms/step - accuracy: 0.7403 - loss: 0.5330
Epoch 90/100
858/858  3s 2ms/step - accuracy: 0.7400 - loss: 0.5340
Epoch 91/100
858/858  2s 2ms/step - accuracy: 0.7400 - loss: 0.5345
Epoch 92/100
858/858  3s 4ms/step - accuracy: 0.7367 - loss: 0.5377
Epoch 93/100
858/858  3s 3ms/step - accuracy: 0.7404 - loss: 0.5341
Epoch 94/100
858/858  2s 2ms/step - accuracy: 0.7376 - loss: 0.5364
Epoch 95/100
858/858  3s 2ms/step - accuracy: 0.7440 - loss: 0.5288
Epoch 96/100
858/858  2s 2ms/step - accuracy: 0.7362 - loss: 0.5368
Epoch 97/100
858/858  3s 3ms/step - accuracy: 0.7429 - loss: 0.5313
Epoch 98/100
858/858  5s 2ms/step - accuracy: 0.7428 - loss: 0.5318
Epoch 99/100
858/858  2s 2ms/step - accuracy: 0.7412 - loss: 0.5329
Epoch 100/100
858/858  2s 2ms/step - accuracy: 0.7413 - loss: 0.5333

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 2ms/step - accuracy: 0.7268 - loss: 0.5665
Loss: 0.5664880871772766, Accuracy: 0.7268221378326416

In [20]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.